<div>
  <h2 id="page-heading" data-cy="BookCopyHeading">
    <span jhiTranslate="eLibraryApp.bookCopy.home.title">Book Copies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="eLibraryApp.bookCopy.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-book-copy"
        [routerLink]="['/book-copy/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eLibraryApp.bookCopy.home.createLabel"> Thêm mới một Book Copy </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bookCopies?.length === 0">
    <span jhiTranslate="eLibraryApp.bookCopy.home.notFound">No Book Copies found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="bookCopies && bookCopies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="title">
            <div class="d-flex">
              <span jhiTranslate="eLibraryApp.bookCopy.title">Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="yearPublished">
            <div class="d-flex">
              <span jhiTranslate="eLibraryApp.bookCopy.yearPublished">Year Published</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="language">
            <div class="d-flex">
              <span jhiTranslate="eLibraryApp.bookCopy.language">Language</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="eLibraryApp.bookCopy.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="book.title">
            <div class="d-flex">
              <span jhiTranslate="eLibraryApp.bookCopy.book">Book</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="publisher.name">
            <div class="d-flex">
              <span jhiTranslate="eLibraryApp.bookCopy.publisher">Publisher</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bookCopy of bookCopies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/book-copy', bookCopy.id, 'view']">{{ bookCopy.id }}</a>
          </td>
          <td>{{ bookCopy.title }}</td>
          <td>{{ bookCopy.yearPublished }}</td>
          <td>{{ bookCopy.language }}</td>
          <td jhiTranslate="{{ 'eLibraryApp.BookCopyStatus.' + bookCopy.status }}">{{ bookCopy.status }}</td>
          <td>
            <div *ngIf="bookCopy.book">
              <a [routerLink]="['/book', bookCopy.book.id, 'view']">{{ bookCopy.book.title }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="bookCopy.publisher">
              <a [routerLink]="['/publisher', bookCopy.publisher.id, 'view']">{{ bookCopy.publisher.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/book-copy', bookCopy.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/book-copy', bookCopy.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
              </button>

              <button type="submit" (click)="delete(bookCopy)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="bookCopies && bookCopies.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
