div.book-list {
  margin-left: 4rem;
  margin-right: 4rem;
}

.book-cover-img {
  width: 10rem;
  height: 16rem;
}

.carousel {
  height: 28rem;
  // background-color: rgb(250, 244, 234);
}

.carousel .card {
  width: 12.5rem;
}
