<div class="container">
  <h2 class="mb-3">Danh mục sách</h2>
  <div class="input-group mb-3 w-50">
    <input
      type="text"
      class="form-control"
      placeholder="Tìm kiếm"
      aria-describedby="button-addon2"
      [(ngModel)]="searchKeyword"
      (keyup.enter)="search()"
    />
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="search()">
      <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
    </button>
  </div>
  <div class="d-flex justify-content-start mb-5">
    <a routerLink="/categories" class="me-4">Thể loại</a>
    <a href="#" class="me-4">Tác giả</a>
  </div>

  <div *ngFor="let catalogItem of catalog" class="mb-5">
    <div class="d-flex justify-content-start align-items-center mb-3">
      <h4 class="fw-semibold mb-0 me-4">{{ catalogItem.categoryName }}</h4>
      <a href="#">Xem tất cả</a>
    </div>
    <ngb-carousel class="carousel carousel-dark py-2" [showNavigationIndicators]="false">
      <ng-template *ngFor="let slide of catalogItem.content" ngbSlide>
        <div class="book-list d-flex justify-content-center">
          <jhi-book-display *ngFor="let book of slide" [book]="book"></jhi-book-display>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
