<div class="container">
  <h2 class="mb-md-5 mb-3">Chi tiết sách</h2>
  <!-- <div class="d-flex justify-content-start align-items-start gap-5"> -->
  <div class="row">
    <div class="col-md-auto me-md-5">
      <img src="{{ book.imageUrl }}" width="200px" />
    </div>
    <div class="mt-md-0 mt-3 col-md d-flex flex-column align-items-start gap-3 w-auto flex-grow-1">
      <h3>{{ book.title }}</h3>
      <div class="row w-100">
        <div class="col-lg-2 col-3">
          <span class="fw-semibold">Tác giả:</span>
        </div>
        <div class="col-lg-10 col-9">
          <a *ngFor="let author of book.authors" class="me-2" routerLink="/search" [queryParams]="{ author: author.id }">
            {{ author.name }}
          </a>
        </div>
      </div>
      <div class="row w-100">
        <div class="col-lg-2 col-3">
          <span class="fw-semibold">Thể loại:</span>
        </div>
        <div class="col-lg-10 col-9">
          <a class="me-2" routerLink="/search" [queryParams]="{ category: book.category!.id }">
            {{ book.category!.name }}
          </a>
        </div>
      </div>
      <div class="row w-100">
        <div class="col-lg-2 col-3">
          <span class="fw-semibold">Số bản sao:</span>
        </div>
        <div class="col-lg-10 col-9">
          <span class="fw-normal">{{ copies.length }}</span>
        </div>
      </div>
      <div class="row w-100">
        <div class="col-lg-2 col-3">
          <span class="fw-semibold">Trạng thái:</span>
        </div>
        <div class="col-lg-10 col-9">
          <span *ngIf="avalableCopies.length > 0" class="text-info fw-normal">Có sẵn</span>
          <span *ngIf="avalableCopies.length === 0" class="text-danger">Không có sẵn</span>
        </div>
      </div>
      <div class="row w-100 mt-3" style="padding-left: 12px">
        <button *ngIf="avalableCopies.length > 0" class="btn btn-primary col-md-3 col-10 text-white">Mượn</button>
        <button *ngIf="avalableCopies.length === 0" class="btn btn-secondary col-md-3 col-10 text-white">Thêm vào hàng đợi</button>
      </div>
    </div>

    <div class="row mt-5 mb-4">
      <h5 class="col-md-3 m-0">{{ ['Danh sách bản sao', 'Bản sao có sẵn'][mode] }} ({{ totalItems }})</h5>
      <a class="col-auto" (click)="toggleMode()">{{ ['Xem bản sao có sẵn', 'Xem tất cả'][mode] }}</a>
    </div>
    <div *ngIf="totalItems > 0">
      <table class="table table-hover table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">Tiêu đề</th>
            <th scope="col">Năm xuất bản</th>
            <th scope="col">Nhà xuất bản</th>
            <th scope="col">Ngôn ngữ</th>
            <th scope="col">Trạng thái</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let copy of copiesOnPage">
            <td class="fw-semibold">{{ copy.title }}</td>
            <td class="fw-normal">{{ copy.yearPublished }}</td>
            <td>
              <a routerLink="/search" [queryParams]="{ publisher: copy.publisher!.id }">{{ copy.publisher!.name }}</a>
            </td>
            <td class="fw-normal">{{ copy.language ?? 'N/A' }}</td>
            <td class="fw-normal">{{ copy.status }}</td>
            <td>
              <button class="btn btn-sm btn-primary text-white">Mượn</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
    <div *ngIf="totalItems === 0" class="alert alert-warning">Không có bản sao nào.</div>
  </div>
</div>
