<div class="card text-center align-items-center me-3 pt-2 h-100">
  <img src="{{ book.imageUrl ?? '' }}" [routerLink]="['/book-details', book.id]" class="book-cover-img card-img-top cursor-pointer" />
  <div class="card-body d-flex flex-column align-items-center">
    <h5
      [routerLink]="['/book-details', book.id]"
      class="card-title cursor-pointer hover-underline"
      ngbTooltip="{{ trimmable(book.title!) ? book.title : '' }}"
    >
      {{ trim(book.title!) }}
    </h5>
    <p class="card-text mb-3" ngbTooltip="{{ trimmable(authorsString) ? authorsString : '' }}">{{ trim(authorsString) }}</p>
    <a [routerLink]="['/book-details', book.id]" class="btn btn-primary mt-auto text-white">Chi tiết</a>
  </div>
</div>
