<div>
  <h2 id="page-heading" data-cy="HoldHeading">
    <span jhiTranslate="eLibraryApp.hold.home.title">Holds</span>

    <!-- <div class="d-flex justify-content-end"> -->
    <div class="row gap-2 mt-3 me-0">
      <div class="col grow-1 input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Tìm kiếm"
          aria-describedby="button-addon2"
          [(ngModel)]="queryKeyword"
          (keyup.enter)="navigateToWithComponentValues()"
        />
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
          <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
        </button>
      </div>

      <button class="col-auto btn btn-info" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="eLibraryApp.hold.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="col-auto btn btn-primary jh-create-entity create-hold"
        [routerLink]="['/hold/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eLibraryApp.hold.home.createLabel"> Thêm mới một Hold </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="holds?.length === 0">
    <span jhiTranslate="eLibraryApp.hold.home.notFound">No Holds found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="holds && holds.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="copy.id">
            <div class="d-flex">
              <span jhiTranslate="eLibraryApp.hold.copy">Copy</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="patron.cardNumber">
            <div class="d-flex">
              <span jhiTranslate="eLibraryApp.hold.patron">Patron</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startTime">
            <div class="d-flex">
              <span jhiTranslate="eLibraryApp.hold.startTime">Start Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endTime">
            <div class="d-flex">
              <span jhiTranslate="eLibraryApp.hold.endTime">End Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isCheckedOut">
            <div class="d-flex">
              <!-- <span jhiTranslate="eLibraryApp.hold.isCheckedOut">Is Checked Out</span> -->
              <span>Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hold of holds; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/hold', hold.id, 'view']">{{ hold.id }}</a>
          </td>
          <td>
            <div *ngIf="hold.copy">
              <a [routerLink]="['/book-copy', hold.copy.id, 'view']">{{ hold.copy.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="hold.patron">
              <a [routerLink]="['/patron-account', hold.patron.cardNumber, 'view']">{{ hold.patron.cardNumber }}</a>
            </div>
          </td>
          <td>{{ hold.startTime | formatMediumDatetime }}</td>
          <td>{{ hold.endTime | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="!hold.isCheckedOut && isAfterCurrent(hold.endTime!)">
              <span class="me-2">Còn hạn</span>
              <button [routerLink]="['/checkout', 'new', 'from-hold', hold.id]" *ngIf="!hold.isCheckedOut" class="btn btn-secondary btn-sm">
                <fa-icon [icon]="['fas', 'check']"></fa-icon>
                <span class="d-none d-md-inline">Kiểm xuất</span>
              </button>
            </div>
            <span *ngIf="!hold.isCheckedOut && !isAfterCurrent(hold.endTime!)" class="me-2">Hết hạn</span>
            <span *ngIf="hold.isCheckedOut" class="me-2">Đã kiểm xuất</span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/hold', hold.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
              </button>

              <button type="submit" [routerLink]="['/hold', hold.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
              </button>

              <button type="submit" (click)="delete(hold)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="holds && holds.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
