<div class="container">
  <h2 class="mb-3">Tìm kiếm sách</h2>
  <div class="input-group mb-3 w-50">
    <input
      type="text"
      class="form-control"
      placeholder="Tìm kiếm"
      aria-describedby="button-addon2"
      [(ngModel)]="keyword"
      (keyup.enter)="search()"
    />
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="search()">
      <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
    </button>
  </div>

  <div class="d-flex justify-content-start align-items-center mb-3">
    <span class="fs-6 fw-semibold me-3">Thể loại</span>
    <div *ngFor="let category of selectedCategories" class="d-flex justify-content-between border border-secondary p-1 h-25 me-3 rounded">
      <span class="me-2">{{ category.name }}</span>
      <button class="cursor-pointer border border-0" (click)="removeCategory(category)">
        <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
      </button>
    </div>
    <div id="category-input-group" class="input-group input-group-sm">
      <span class="input-group-text" id="inputGroup-sizing-sm">+</span>
      <input
        list="category-list"
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
        placeholder="Thêm thể loại"
        (change)="addCategory($event)"
      />
      <datalist id="category-list">
        <option *ngFor="let category of filterUnselected(categoryList)" value="{{ category.name }} - {{ category.id }}"></option>
      </datalist>
    </div>
  </div>

  <div class="d-flex justify-content-start align-items-center mb-5">
    <span class="fs-6 fw-semibold me-3">Tác giả</span>
    <div *ngFor="let author of selectedAuthors" class="d-flex justify-content-between border border-secondary p-1 h-25 me-3 rounded">
      <span class="me-2">{{ author.name }}</span>
      <button class="cursor-pointer border border-0" (click)="removeAuthor(author)">
        <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
      </button>
    </div>
    <div id="author-input-group" class="input-group input-group-sm">
      <span class="input-group-text" id="inputGroup-sizing-sm">+</span>
      <input
        list="author-list"
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
        placeholder="Thêm tác giả"
        (change)="addAuthor($event)"
      />
      <datalist id="author-list">
        <option *ngFor="let author of filterUnselected(authorList)" value="{{ author.name }} - {{ author.id }}"></option>
      </datalist>
    </div>
  </div>

  <h4 *ngIf="mode === 0" class="mb-4">Kết quả tìm kiếm: {{ queryKeyword }}</h4>
  <h4 *ngIf="mode === 1" class="mb-4">Thể loại: {{ categoryName }}</h4>
  <h4 *ngIf="mode === 2" class="mb-4">Tác giả: {{ authorName }}</h4>
  <div *ngIf="bookList.length > 0" class="row align-items-stretch">
    <div *ngFor="let book of bookList" class="col-lg-2 col-md-3 col-sm-6 mb-4">
      <jhi-book-display [book]="book"></jhi-book-display>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
  <div *ngIf="bookList.length === 0" class="alert alert-warning">Không tìm thấy sách nào.</div>
</div>
