<div class="container">
  <h2 class="mb-3">Tìm kiếm sách</h2>
  <div class="input-group mb-3 w-50">
    <input
      type="text"
      class="form-control"
      placeholder="Tìm kiếm sách, tác giả, thể loại, nhà xuất bản..."
      aria-describedby="button-addon2"
      [(ngModel)]="keyword"
      (keyup.enter)="search()"
    />
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="search()">
      <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
    </button>
  </div>

  <div>
    <div *ngFor="let filter of filters; index as i" class="d-inline-flex justify-content-start align-items-center mb-3 me-4">
      <span class="fs-6 fw-semibold me-3">{{ labels[filter.name] }}</span>
      <div *ngFor="let value of filter.selectedValues" class="d-flex justify-content-between border border-secondary p-1 h-25 me-3 rounded">
        <span class="me-2">{{ value.name }}</span>
        <button class="cursor-pointer border border-0" (click)="removeFilterValue(value, i)">
          <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
        </button>
      </div>
      <div id="filter-value-input-group" class="input-group input-group-sm">
        <span class="input-group-text" id="inputGroup-sizing-sm">+</span>
        <input
          [attr.list]="filter.name + '-list'"
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
          placeholder="{{ 'Thêm ' + labels[filter.name].toLowerCase() }}"
          (change)="addFilterValue($event, i)"
        />
        <datalist [id]="filter.name + '-list'">
          <option *ngFor="let value of filterUnselected(filter.list)" value="{{ value.name }} - {{ value.id }}"></option>
        </datalist>
      </div>
    </div>
  </div>

  <h4 class="my-4">{{ title }}</h4>
  <div *ngIf="bookList.length > 0" class="row align-items-stretch">
    <div *ngFor="let book of bookList" class="col-lg-2 col-md-3 col-sm-6 mb-4">
      <jhi-book-display [book]="book"></jhi-book-display>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
  <div *ngIf="bookList.length === 0" class="alert alert-warning">Không tìm thấy sách nào.</div>
</div>
